/ForLoops.class
/Tables.class
/Infinite.class
/Factorial.class
/FabonacciSeries.class
/Power.class
/Prime.class
/Series.class
/Series2.class
/TablesAll.class
/Patterns1.class
/Pattern2.class
/Pattern3Imp.class
/Pattern4.class
/Pattern5.class
